<div align="center"><b>Осторожно! Прямо сейчас форум находится в процессе ремонтных работ. Ссылки могут не открываться, а темы отсутствовать. Мы работаем над скорейшим восстановлением.</b></div>
<br>
<div id="custom-table">
<table id="custom-links"><tr><td>
<a href=""><img src="https://i.imgur.com/40jP7HM.jpg"></a>
</td><td>
<a href=""><img src="https://i.imgur.com/DacTuWS.jpg"></a>
</td><td>
<a href=""><img src="https://i.imgur.com/FDz1Who.jpg"></a>
</td><td>
<a href=""><img src="https://i.imgur.com/n7L3Tyo.jpg"></a>
</td><td>
<a href=""><img src="https://i.imgur.com/ZIXrQGk.jpg"></a>
</td><td>
<a href=""><img src="https://i.imgur.com/bcWonjA.jpg"></a>
</td></tr></table>
</div>