<div class='bottom-container'>
    <div class='bottom-image'>
        <img src='https://i.imgur.com/6vaTxoh.jpg' />
    </div>
    <div class='banner-space'>
        <div id='banners'>
        <a href="http://urchoice.rolka.su/" target="_blank"><img src="http://s2.uploads.ru/1tCcd.png" title="Каталог форумов" alt="LYL"></a>
        <a href="http://northsolway.rusff.ru/"><img src="http://forumfiles.ru/files/0017/95/0a/51767.jpg" title="North Solway " width=88 height=31 border=0></a>
        <a href="http://ulegends.rusff.ru/" target="_blank"><img src="http://forumfiles.ru/files/0011/3b/5b/83755.jpg" alt="Городские легенды"/></a>
        <a href="http://francophonie.rusff.ru/" target="_blank"><img src="http://s7.uploads.ru/t/ELdW3.gif" title="La Francophonie: un peu de Paradis, магия мюзиклов" alt="Francophonie" border="0" width="88" height="31"></a>
        <a target="_blank" href="http://dex.rolebb.com" title="Deus Ex"><img src="http://forumfiles.ru/files/0017/ce/4d/92836.png"></a>
        <a href="http://brimstone-rpg.ru/" title="Англия XIX век. Демоны, дирижабли и лавкрафтовские чудовища" target="blank"><img src="http://forumfiles.ru/files/000c/a9/31/63493.gif"></a>
        <a href="https://frpg.community/m/sites/view/Легенды-Старого-Кракова" title="Легенды-Старого-Кракова"><img src="https://frpg.community/media/images/fban.gif"></a>
        <a href="http://braven.rolka.su" target=_blank><img src="http://i.imgur.com/b5imOdN.gif" border="0" title="Brave New World" width="88" height="31"></a>
        <a href="http://never-where.diary.ru"><img src="http://static.diary.ru/userdir/6/7/1/4/671413/73075332.jpg" width="88px;" height="31px;" border="0" title="Реклама текстовых ролевых игр" alt="Реклама текстовых ролевых игр" /></a>
        <a href="http://conclusio.mybb.ru/" title="..." target="blank"><img src="http://forumfiles.ru/files/0019/b0/3a/34623.jpg"></a>
        <a href="http://enteros.rusff.ru/" title="ФРПГ Энтерос" target="blank"><img src="http://forumfiles.ru/files/0015/e5/72/98755.gif"></a>
        <a href=http://nevsky.rusff.ru/><img src="http://forumfiles.ru/files/0019/ca/23/54284.gif" border="0" alt="Невский Проспект"width=88  height=31 border></a>
        <a href="http://vfd.rusff.ru/" target="_blank"><img src="http://forumfiles.ru/files/0019/f4/27/25872.jpg" border="0" width="88" height="31" title="Volunteer Fire Department"></a>
        </div>
    </div>
</div>

<!-- ------------------------------------------- Scripts ------------------------------------------- -->

<!-- Menu apperance v2 -->
<script type="text/javascript">
    $(document).ready(function() {
        var $navindex = $('#navindex a');
        var $navuserlist = $('#navuserlist a');
        var $navsearch = $('#navsearch a');
        var $navregister = $('#navregister a');
        var $navprofile = $('#navprofile a');
        var $navpm = $('#navpm a');
        var $navadmin = $('#navadmin a');
        var $navlogin = $('#navlogin a');
        var $navlogout = $('#navlogout a');

        var index = "<img src='https://i.imgur.com/DjIh9sI.jpg' />";
        var users = "<img src='https://i.imgur.com/V3tP2Wn.jpg' />";
        var search = "<img src='https://i.imgur.com/4hUlb7E.jpg' />";
        var register = "<img src='https://i.imgur.com/qUuDZCW.jpg' />";
        var profile = "<img src='https://i.imgur.com/aq5ZrEY.jpg' />";
        var pm = "<img src='https://i.imgur.com/TQJXTz5.jpg' />";
        var pmnew = "<img src='https://imgur.com/kLgyCoX.jpg' />";
        var admin = "<img src='https://i.imgur.com/QqwtlEx.jpg' />";
        var login = "<img src='https://i.imgur.com/lJoBn8I.jpg' />";
        var logout = "<img src='https://i.imgur.com/n414wFF.jpg' />";
        
            
        if ($navindex) { $navindex.html(index); }
        if ($navuserlist) { $navuserlist.html(users); }
        if ($navsearch) { $navsearch.html(search); }
        if ($navregister) { $navregister.html(register); }
        if ($navprofile) { $navprofile.html(profile); }

        var newmsg = $navpm.html();
        var matches = newmsg.match(/\d+/g);
        if ($navpm) {
            if ( matches != null ) {
                $navpm.html(pmnew);
            } else {
                $navpm.html(pm);
            }
        }
        if ($navadmin) { $navadmin.html(admin); }
        if ($navlogin) { $navlogin.html(login); }
        if ($navlogout) { $navlogout.html(logout); }
    });
</script>
<!-- end:Menu apperance v2 -->

<!-- PR entrance -->
<script type="text/javascript">
PiarNik="Реклама";
PiarPas="1111";

var L="<li id='navpr'><img title=\"Быстрый вход для 'Пиарщиков'\" onclick=\"PiarIn()\" src=\"https://i.imgur.com/deDoAPr.jpg\" style='cursor: pointer;'/>\
<form id='pr-form' name=\"login\" method=\"post\" style='display: none;' action=\"login.php?action=in\" onsubmit=\"return check_form()\">\
<fieldset>\
<input type=\"hidden\" name=\"form_sent\" value=\"1\"/>\
<input type=\"text\" id=\"fld1\" name=\"req_username\" size=\"21\" maxlength=\"25\"/>\
<input type=\"text\" id=\"fld2\" name=\"req_password\" size=\"7\" maxlength=\"16\"/>\
<input type=\"submit\" class=\"button\" name=\"login\"/>\
</fieldset>\
</form>\
</li>";
if($("#navlogin").html()!=null){

$("#pun-navlinks ul").append(L) //navlogin
$("#pr-form #fld1").val(PiarNik)
$("#pr-form #fld2").val(PiarPas)
function PiarIn () {$("#pr-form input[type='submit']").click();}
}
</script>
<!-- end:PR entrance -->

<!-- Categories apperance -->
<script>
    $(document).ready(function(){
        var $part1 = $("#pun-category1 h2 span");
        var $part2 = $("#pun-category2 h2 span");
        var $part3 = $("#pun-category3 h2 span");
        var $part4 = $("#pun-category4 h2 span");
        var $part5 = $("#pun-category5 h2 span");
        var $part6 = $("#pun-category6 h2 span");
        var $part7 = $("#pun-category7 h2 span");
        var $stats = $("#pun-stats h2 span");

        var img1 = "<img class='category-image' src='https://i.imgur.com/3wJFMFA.jpg' />";
        var img2 = "<img class='category-image' src='https://i.imgur.com/ZGhP6lM.jpg' />";
        var img3 = "<img class='category-image' src='https://i.imgur.com/u8zN6wP.jpg' />";
        var img4 = "<img class='category-image' src='https://i.imgur.com/9W4C5aP.jpg' />";
        var img5 = "<img class='category-image' src='https://i.imgur.com/4CJ2uYt.jpg' />";
        var img6 = "<img class='category-image' src='https://i.imgur.com/Sixkz58.jpg' />";
        var img7 = "<img class='category-image' src='https://i.imgur.com/ilONSvg.jpg' />";
        var simg = "<img class='category-image' src='https://i.imgur.com/GO8vKKz.jpg' />";

        $part1.html(img1);
        $part2.html(img2);
        $part3.html(img3);
        $part4.html(img4);
        $part5.html(img5);
        $part6.html(img6);
        $part7.html(img7);
        $stats.html(simg);
    });
</script>
<!-- end:Categories apperance -->

<!-- Nice stats -->
<script type="text/javascript">
    ActiveTopics = 0;
    ActiveTopicsName = 'Активные темы форума';
    HideUrl = 0;
    HidePicture = 0;
    FullStat = 0;
    SocioButtons = 0;
</script>
<!-- end:Nice stats -->

<!-- Avatar decorations -->
<script type="text/javascript">
$(document).ready(function(){
    var top = '<div class="av-frame-t"><img src="https://i.imgur.com/MqxJjNS.jpg"></div>';
    var bottom = '<div class="av-frame-b"><img src="https://i.imgur.com/ATehsqq.jpg"></div>';
    $(".post-author").prepend(top);
    $(".post-author").append(bottom);
});
</script>
<!-- end:Avatar decorations -->

<!-- Access regulations -->
<script>
hvScriptSet.addMask({
    guestAccess: ['Департамент "Сокол"', 'Улицы Кракова', 'Дома и здания Кракова', 'Окрестности Кракова', 'Польша', 'Игровой архив', 'Архив старой игры', 'Прошлое', 'Сны'],
    forumAccess: {
        'Департамент "Сокол"': ['НПС', 'Игроки'],
        'Улицы Кракова': ['НПС', 'Игроки'],
        'Дома и здания Кракова': ['НПС', 'Игроки'],
        'Окрестности Кракова': ['НПС', 'Игроки'],
        'Польша': ['НПС', 'Игроки'],
        'Игровой архив': ['НПС', 'Игроки'],
        'Архив старой игры': ['НПС', 'Игроки'],
        },
    forumAccessExtended: {
        'Департамент "Сокол"': ['НПС', 'Игроки'],
        'Улицы Кракова': ['НПС', 'Игроки'],
        'Дома и здания Кракова': ['НПС', 'Игроки'],
        'Окрестности Кракова': ['НПС', 'Игроки'],
        'Польша': ['НПС', 'Игроки'],
        'Прошлое': ['НПС', 'Игроки'],
        'Сны': ['НПС', 'Игроки'],
        'Игровой архив': ['НПС', 'Игроки'],
        'Архив старой игры': ['НПС', 'Игроки', 'Гость'],
        },
    changeList: {
        'pafld1': {
            title: 'О персонаже',
            description: '',
            tag: 'info1',
            class: 'pa-fld1',
            defaultCode: '+++++',
            type: 'html'
        }
    },
    userFields: ['pa-author', 'pa-status', 'pa-avatar', 'pa-fld1', 'pa-respect', 'pa-online', 'pa-ip', 'pa-fld3']
});
</script>
<!-- end:Access regulations -->

<!-- Font sizing in posts -->
<script type="text/javascript" src="http://forumfiles.ru/files/0015/c4/3f/31001.js"></script>

<!-- User info block tweak -->
<script>
$('.pa-fld3:contains("Визитка")').each(function(){
    $(this).html($(this).html().split("Визитка:").join(""));
});
$('.char-info').siblings('br').remove();
</script>
<!-- end:User info block tweak -->

<!-- User masks: change name, avatar etc. -->
<!-- <script src="http://f.etrin.ru/hvss/hvss.min.js"></script> -->
<script src="https://cdn.statically.io/gl/krakow-scripts/design/master/usermasks.min.js"></script>
<script>
hvScriptSet.addMask({
    guestAccess: ['Архив старой игры', 'Игровой архив', 'Кладбище', 'Кладбище домашних животных']
});
</script>
