<div id='logo-image' class='logo-image'><img src="https://i.imgur.com/tSK9TLr.jpg"></div>

<!-- Base text: 11.05 px; 1 px = 0.09 em -->

<!-- ------------------------------------------- Scripts ------------------------------------------- -->

<!-- Setting-Of-Forum JavaScript Pack v6.4* Make setting of forum on service http://liveforums.ru/setting-forum.html -->
<script type="text/javascript" src="http://i.liveforums.ru/f/ru/liveforums/ff.js"></script>

<!-- Выделение кода в блоке "Код" // © Alex_63, версия 2017г. -->
<script type="text/javascript" src="http://forumfiles.ru/files/0015/c4/3f/26102.js"></script>
<script type="text/javascript">select_text.linkText = 'Выделить код' //текст ссылки</script>

<!--кнопки вверх вниз-->
<div class="go-up" id='ToTop'><img src="https://i.imgur.com/Dohsqvd.png" border="0" width=100%/></div>
<div class="go-down" id='OnBottom'><img src="https://i.imgur.com/uv35x1M.png" border="0" width=100%/></div>

<script type="text/javascript">
$(function(){
    if ($(window).scrollTop()>="250") $("#ToTop").fadeIn("slow")
    $(window).scroll(function(){
        if ($(window).scrollTop()<="250") $("#ToTop").fadeOut("slow")
        else $("#ToTop").fadeIn("slow")
    });
    if ($(window).scrollTop()<=$(document).height()-"999") $("#OnBottom").fadeIn("slow")
    $(window).scroll(function(){
        if ($(window).scrollTop()>=$(document).height()-"999") $("#OnBottom").fadeOut("slow")
        else $("#OnBottom").fadeIn("slow")
    });
    $("#ToTop").click(function(){$("html,body").animate({scrollTop:0},"slow")})
    $("#OnBottom").click(function(){$("html,body").animate({scrollTop:$(document).height()},"slow")})
    });
</script>
<!--end: кнопки вверх вниз-->

<!-- Avatar frames -->
<script>
    $(document).ready(function() {
        var overlay = '<img class="av-frame" src="https://i.imgur.com/kyJV51c.png" />';
        $('.pa-avatar').each(function(){
            $(this).append(overlay);
        });
    });
</script>
<!-- end:Avatar frames -->

<!-- Store unsent posts  -->
<script type="text/javascript">
    window.onbeforeunload = function() {
        var unsaved = $('textarea#main-reply').val();
        localStorage.setItem('unsaved', unsaved );
    }
    window.onload = function() {
        if ( typeof localStorage.unsaved !='undefined' && $('textarea#main-reply').val() == '' ) {
            $('textarea#main-reply').val(localStorage.unsaved);
        }
    }
</script>
<!-- end:Store unsent posts  -->
