/* CS1 Background and text colours
-------------------------------------------------------------*/

/* To top & to bottom button style */
.go-up,.go-down {
    display: none;
    position: fixed; /*позиционируем*/
    right: 11em; /*указываем положение, если слева - left*/
    z-index: 9999; /*показываем поверх все элементов на странице*/
    cursor: pointer;
    opacity: no; /*прозрачность*/
    margin-bottom: 0px; /*отступ снизу (можно не указывать)*/
    /* width: 30px; */ /*ширина кнопки*/
    /* height: 30px; */ /*высота кнопки*/
}
.go-up {
    bottom: 15em; /*положение от низа окна браузера верхняя кнопка*/
}
.go-down {
    bottom: 9em; /*положение от низа окна браузера нижняя кнопка кнопка*/
}
.go-down:hover,.go-up:hover {
    opacity: 1;
}

/* Font sizing in posts */
.FNTslider {
    background: url(https://i.imgur.com/6gYvaFo.png) 0 0 no-repeat;
    position: relative;
    z-index: 1000;
    width: 140px;
    height: 20px;
    margin: 3px 5px;
    float: right;
    margin-right: 7%;
    padding: 0 20px;
}

.FNTslider .before {
    background: url(https://i.imgur.com/6gYvaFo.png) 0 0 no-repeat;
    height: 20px;
    position: absolute;
    padding-left: 20px;
    margin-left: -20px;
    z-index: 10;
    padding-right: 10px;
}

.FNTslider .thumb {
    width: 17px;
    height: 18px;
    border-radius: 3px;
    position: relative;
    top: 1px;
    background: url(http://i.imgur.com/3lBSMlq.png) -1px 0 no-repeat;
    cursor: pointer;
    z-index: 20;
}

.FNTslider .thumb:hover {
    background-position: -19px 0;
}

/* User info (avatar bottom) styling */

.pa-adnote,
.pa-from,
.pa-reg,
.pa-posts,
.pa-reputation,
.pa-avatar,
.pa-title,
.pa-author,
.pa-fld1,
.pa-fld2,
.pa-fld3,
.pa-respect {
	text-align: center;
}
.pa-reputation {
    font-weight: normal !important;
}
.pa-respect a {
    font-weight: bold;
    text-decoration: none !important;
}$('.char-info').siblings('br').remove();
</script>
<!-- end:User info block tweak -->

<!-- User masks: change name, avatar etc. -->
<!-- <script src="http://f.etrin.ru/hvss/hvss.min.js"></script> -->
<script src="https://cdn.statically.io/gl/krakow-scripts/design/master/usermasks.min.js"></script>
<script>
hvScriptSet.addMask({
    guestAccess: ['Архив старой игры', 'Игровой архив', 'Кладбище', 'Кладбище домашних животных']
});
</script>

.pa-respect {
    font-size: larger !important;
}

.pa-fld3,
.pa-respect {
	display: list-item !important;
}
.pa-fld3 a {
    font-weight: bold;
    text-decoration: none !important;
    font-size: larger;
    display: block;
    margin-top: 0.19em;
}
.pa-hidePunk {
	display: none !important;
}

/* redesign code */
html, body {
    background-color: #c7bc9e;
    border: none;
}

a, a:hover, a:visited {
    color: #d56a18;
}

body {
    color: #4c2f28;
}

#pun_wrap {
    width: 100%;
}

#pun {
    background-color: #f3f0eb;
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 1000px;
}

#pun-main h1 {
   margin: 0 1.53em;
}

#pun-navlinks .container li {
    margin: 0 1.7em;
}

.post-content td {
    border:none transparent !important;
}

.intd {
    background-color: #ddd9d0;
    display: block;
    padding: 1em 2em;
    height: 4em;
}

#custom-table {
     width: 100%;
}

#custom-links {
    table-layout: auto;
    margin-left: auto;
    margin-right: auto;
    width: auto !important
}

#custom-links img {
    width: 7.917em;
    height: 7.833em;
}

.av-frame-t {
    margin-bottom: -0.5em !important;
}

.av-frame-b {
    margin-top: -1em !important;
}

.post-author ul {
    background-image: url(https://i.imgur.com/yEMxzKU.jpg);
}

#custom-links tbody tr td {
    display: inline;
    width: 7.917em;
    margin: 0px 1.7em;
    text-align: center;
}

#pun-viewforum .tclcon {
    display: block;
    position: relative;
    margin-top: -3.5em !important;
    margin-left: 1.5em !important;
}

.pagelink,
#pun-viewforum h1,
#pun-viewtopic h1,
#post-form h2 {
    margin-left: 2.5em !important;
}

#pun-viewforum h1 span,
#pun-viewtopic h1 span  {
    margin-left: 1.25em !important;
}

.postlink,
.subscribelink {
   margin-right: 2.5em !important;
}

.post {
    margin-left: 2.53em !important;
    margin-right: 2.53em !important;
}

.bottom-container {
    margin-bottom: -2em !important;
    margin-top: 2em !important;
}

.statscon{
    width: 87.333em;
    margin: 0 auto !important;
}

.banner-space {
    display: block;
    align-content: space-evenly;
}

#banners {
    display: block;
    margin: 0 0 1.2em 0;
    padding: 0;
    text-align: center;
    height: 31px;
    overflow: hidden;
    overflow-y: scroll;
}

#banners img {
    -webkit-filter: grayscale(100%);
    -webkit-transition: filter 3s;
    filter: grayscale(100%);
}

#banners:hover img {
    -webkit-filter: none;
    filter: none;
}

.category thead,
.forum thead,
form#post fieldset legend {
    visibility: hidden;
}

.lastedit,
.stickytext,
.closedatafield,
#pun-title, #share,
#pun-navlinks h2 span,
#pun-announcement h2 span,
#pun-category100,
#pun-category101,
#pun-category102,
#pun-about,
#qpsContainer {
    display: none !important;
}

#pun-break1,
#pun-break2,
#pun-break3,
#pun-break4 {
    border-style: none !important;
}

/* CS1.1 */
.punbb .section .container, .punbb .post-body, .punbb .post-links, .punbb td.tc2, .punbb td.tc3,
.punbb .formal fieldset .post-box, #viewprofile li strong, #viewprofile li div, #setmods dd,
.punbb .info-box, .punbb #pun-main .info-box .legend {
  /* background-color: #f1f1f1; */
  }

/* CS1.2 */
.punbb .main .container, .punbb .post .container, .punbb .post h3, .punbb-admin #pun-admain .adcontainer {
  /* background-color: #f7f7f7;*/
  }

/* CS1.3 */
#pun-stats h2, .punbb .main h1, .punbb .main h2, #pun-debug h2, .punbb-admin #pun-admain h2 {
 /* background-color: #1474C3;
  color: #fff;*/
  }

/* CS1.4 */
#pun-title, #pun-title .container, .punbb .modmenu .container {
  /* background-color: #E1EDF7; */
  }
/*
/* CS1.5 */
.punbb legend span, #viewprofile h2 span, #profilenav h2 span, .punbb-admin #pun-admain legend span {
  background-color: #f7f7f7;
  }

/* CS1.6 */
.punbb .post h3 span, .punbb th, #viewprofile li, #setmods dl  {
  color: #333
  }

/* CS1.7 */
.punbb .quote-box, .punbb .code-box {
  background-color: #DDD9D0;
  color: #333
  } */

/* CS1.8 */

.offline li.pa-online strong {
  font-weight: normal
  }

/* CS2 Border colours
-------------------------------------------------------------*/

/* CS2.1 */
.punbb .container, .punbb .post-body, .post h3, #pun-title {
  /* border-color: #ccc #ccc #aaa #ccc */
  }

/* CS2.2 */
.punbb .section, .punbb .forum, .punbb .formal, .punbb .modmenu, .punbb .info,
.punbb .category, .punbb .post {
  /* border-color: #f5f5f5 */
  }

/* CS2.3 */
#pun-stats h2, .punbb .main h1, .punbb .main h2, #pun-debug h2, .punbb-admin #pun-admain h2 {
  /* border-color: #004F90;*/
  }

/* CS2.4 */
.punbb td, .punbb fieldset, #viewprofile ul, #profilenav ul, .punbb .post .post-body,
.punbb .post h3 span, .post-links ul, .post-links, .usertable table {
  /* border-color: #C9D6E0; */
  }

/* CS2.5 */
.punbb th {
  /* border-color: #dedfdf */
  }

/* CS2.6 */

.punbb .divider {
  border-color: #ccc #fff #fff #fff
  }

.punbb .formal fieldset .post-box, .punbb .info-box {
  /* border: 1px solid #dedfdf */
  }

li.pa-online {
  border-left-color: #005EAB;
  }


/* CS3 Links
-------------------------------------------------------------*/

/* CS3.1 */
.punbb a, .punbb a:link, .punbb a:visited,
.punbb-admin #pun-admain a, .punbb-admin #pun-admain a:link, .punbb-admin #punbb-admain a:visited {
  color: #d56a18
  }

.punbb li.isactive a, .punbb li.isactive a:link, .punbb li.isactive a:visited {
  color: #d56a18
  }

/* CS3.2 */
.punbb a:hover, .punbb a:focus, .punbb a:active,  .punbb-admin #pun-admain .nodefault,
.punbb-admin #punbb-admain a:hover, .punbb-admin #punbb-admain a:focus, .punbb-admin #punbb-admain a:active {
  color: #d56a18;
  }

/* CS3.3 */
#pun-navlinks a {
  color: #d56a18;
  text-decoration: none
  }

/* CS3.4 */
#pun-navlinks a:hover, #pun-navlinks a:focus, #pun-navlinks a:active {
  color: #d56a18;
  text-decoration: underline
  }

#pun-pagelinks a:active, #pun-pagelinks a:focus {
  /* background-color: #333; */
  color: #d56a18;
  }

/* CS4 Post status icons
 -------------------------------------------------------------*/

div.icon {
        background: url(https://i.imgur.com/84dDXwu.png) no-repeat;
}
tr.inew div.icon {
        background: url(https://i.imgur.com/YVH9Qfz.png) no-repeat;
}
tr.isticky div.icon {
        background: url(https://i.imgur.com/pcr8zfy.png) no-repeat;
}
tr.iclosed div.icon {
        background: url(https://i.imgur.com/84dDXwu.png) no-repeat;
}
tr.iredirect div.icon {
    background: url(https://i.imgur.com/84dDXwu.png) no-repeat;
}


/* Mobile adaptation
 -------------------------------------------------------------*/

@media only screen and (max-width: 360px) {
    .go-up, .go-down {
        right: 0.5em;
    }
    .go-up {
        bottom: 6.5em;
    }
    .go-down {
        bottom: 0.5em;
    }
}

@media only screen and (max-width: 731px),
@media only screen and (max-width: 1080 px) {
    .go-up, .go-down {
        right: 3em;
    }
    .go-up {
        bottom: 6.5em;
    }
    .go-down {
        bottom: 0.5em;
    }
}

/* Scrollbar styling
 -------------------------------------------------------------*/
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #F5F5F5;
	border-radius: 10px;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #FFF;
	background-image: -webkit-gradient(linear,
									   40% 0%,
									   75% 84%,
									   from(#B87A53),
									   to(#B87A53),
									   color-stop(.6,#FCCD63))
}
